body {
  background-color: lightpink;
  }

  p, li {
    color: palegreen;
  }

#watermelon {
  width: 100%;
  background-color: #ea5169;
}

.palegreen {
  background-color: #ea5169;
  width: 100%;
}


footer, h3 {
  text-align: center;
  background-color: lightgreen;
  color: #ea5169;
}
